.table {
  border-collapse:collapse; /* TODO move */
}

.table>tbody>tr {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}

.table>tbody>tr>th {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
  background-color: #eaecf0;
}

.table>tbody>tr>td {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
  background-color: #f8f9fa;
}

.table>tbody>tr.selected>td {
  background-color: #ffc;
}

.table>tbody>tr>td.selected {
  background-color: #ffc;
}

.table>tbody>tr.selected>th {
  background-color: #ffc;
}

.table>tbody>tr>th.selected {
  background-color: #ffc;
}

.table>tbody>tr>th.sort {
  background-image: url(/_layout/table/sort_both.png);
  background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,<%3Fxml%20version%3D"1.0"%20encoding%3D"UTF-8"%3F>%0A<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2021%209"%20height%3D"9"%20width%3D"21">%0A%20%20%20%20<path%20d%3D"M14.5%205l-4%204-4-4zM14.5%204l-4-4-4%204z"%2F>%0A<%2Fsvg>%0A);
  background-image: -o-linear-gradient(transparent,transparent),url(/_layout/table/sort_both.png);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 21px;
  user-select : none;
}

.table>tbody>tr>th.asc {
  background-image: url(/_layout/table/sort_up.png);
  background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,<%3Fxml%20version%3D"1.0"%20encoding%3D"UTF-8"%3F>%0A<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2021%204"%20height%3D"4"%20width%3D"21">%0A%20%20%20%20<path%20d%3D"M6.5%204l4-4%204%204z"%2F>%0A<%2Fsvg>%0A);
  background-image: -o-linear-gradient(transparent,transparent),url(/_layout/table/sort_up.png);
}

.table>tbody>tr>th.desc {
  background-image: url(/_layout/table/sort_down.png);
  background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,<%3Fxml%20version%3D"1.0"%20encoding%3D"UTF-8"%3F>%0A<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2021%204"%20height%3D"4"%20width%3D"21">%0A%20%20%20%20<path%20d%3D"M14.5%200l-4%204-4-4z"%2F>%0A<%2Fsvg>%0A);
  background-image: -o-linear-gradient(transparent,transparent),url(/_layout/table/sort_down.png);
}

.table_monospace>tbody>tr>th {
  font-family: monospace;
  font-size  : 16px;
}

.table_monospace>tbody>tr>td {
  font-family: monospace;
  font-size  : 16px;
}
